@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
* {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
}

/*CSS DO HEADER*/

a {
    text-decoration: none;
    color: white;
    /*  font-size: 2.5vh;
    font-weight: bold;
    */
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

#logo_img {
    width: 100%;
    height: 20vh;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background-color: #0487D9;
    height: 20vh;
}

.lista_nav {
    list-style: none;
    display: flex;
}

.lista_nav li {
    letter-spacing: 3px;
    margin-left: 32px;
    /* margin-top: 7.5vh; */
}

.menu-hamburguer {
    display: none;
    cursor: pointer;
}

.menu-hamburguer div {
    width: 32px;
    height: 2px;
    background-color: white;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
        /*se algo sai da tela ele esconde */
    }
    .lista_nav {
        position: absolute;
        top: 20vh;
        right: 0;
        width: 100vw;
        height: 92vh;
        background: #0487D9;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .lista_nav li {
        margin-left: 0;
        opacity: 0;
    }
    .menu-hamburguer {
        display: block;
    }
}

main {
    height: 270vh;
    width: 99%;
    margin-left: 5px;
    /* border: solid 1px grey; */
    padding-top: 2px;
    align-content: center;
}

#nome, #cpf, #SUS, #comorbidade, #peso, #altura, #idade, #sex, #etnia, #profissao, #vacina, #email {
    height: 35px;
    width: 25vw;
    margin: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
}

#gravidezdiv {
    height: 35px;
    width: 25vw;
    margin: 10px;
    border-top: none;
    border-left: 6px;
    border-right: none;
}

.multiselect {
    width: 200px;
    border-left: 6px;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}

#checkboxes {
    display: none;
    border: 1px #dadada solid;
    padding-left: 10px;
}

#checkboxes label {
    display: block;
}

#checkboxes label:hover {
    background-color: #1e90ff;
}

#barra {
    margin-top: 8px;
    margin-left: 6px;
    height: 3vh;
    width: 66.8vw;
    border: 0.5vh solid black;
}

#green {
    height: 2.7vh;
    background-color: #98CC35;
    width: 0.5vw;
    padding-top: 1px;
}

#btnenviar {
    margin-left: 140px;
    background-color: rgb(144, 161, 240);
    color: #FFFFFF;
    font-size: 19px;
    line-height: 16px;
    padding: 9px;
    border-radius: 6px;
    font-family: Georgia, serif;
    font-weight: normal;
    border: 1px solid rgb(138, 157, 238);
    display: inline-block;
    cursor: pointer;
}

#btnenviar:hover {
    background-color: rgb(29, 70, 252);
    opacity: 80%;
}

form label {
    line-height: 4vh;
}

/* .lista_nav.active {
    transform: translateX(0);
} */

.lista_nav.active {
    transform: translateX(0);
    z-index: 1;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* CSS DO FOOTER */

footer {
    height: 35vh;
    padding: 5vh;
    background-color: #0487D9;
    display: flex;
    font-size: 3vh;
    text-align: justify;
}

#logo_footer {
    height: 20vh;
}

.divs_footer {
    width: 30vw;
    margin-left: 8vh;
    color: white;
}

#horario {
    font-size: 2.5vh;
    width: 15vw;
}

#mapa {
    height: 30vh;
}

#links_footer {
    text-decoration: none;
    color: white;
    font-size: 3vh;
}

#links_footer:hover {
    background-color: #5aaee2;
    border-radius: 1vh;
    padding: 1vh;
}

#div_links p, #div_links a, #date {
    margin: 2vw;
}

#div_links p {
    margin-left: 6vw;
}

#date {
    font-size: 4vh;
    margin-left: 2.5vw;
}